.out1 {
  width: 300px;
  height: auto;
  border: 2px solid black;
}

.out2 {
  width: 300px;
  height: auto;
  border: 2px solid black;
}
.out3 {
  width: 100px;
  height: auto;
  border: 2px solid black;
}
